.play {

  .ship-x {
    width: 20px;
    height: 20px;
    margin: 0 1px 0 0;
    background: #C5C5FF;
    display: block;
    float: left;
  }

  .destroyed {
    .ship-x {
      background: #f53d3d;
    }
  }

}